 <!-- Navigation-->
 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" routerLink=""><i class="fa fa-solid fa-home"></i> E-Cart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <input (keyup)="search($event)" style="width: 400px;"  placeholder="search products here" type="text" class="form-control">
                </li>
                
            </ul>
            <form class="d-flex align-items-center">
                <a class="btn text-light" routerLink="products/wishlist" >
                    <i class="fa fa-solid fa-heart fa-beat text-danger"></i>
                    Wishlist
                </a>
                <a class="btn text-light" routerLink="products/cart">
                    <i class="fa fa-duotone fa-cart-plus fa-beat"></i>
                    Cart
                    <span class="badge bg-light text-dark ms-1 rounded-pill">{{cartitems    }}</span>
                </a>
            </form>
        </div>
    </div>
</nav>
