<!-- empty wishlist -->
<div *ngIf="allproducts.length==0" class="container mt-5">
    <div class="row mt-5">
        <div class="col text-center mt-5">
            <img src="http://doduae.com/image/shopping_cart.gif" alt="">
            <h3 class="text-center mt-5">Your wishlist is empty</h3>
            <a class="btn btn-success mt-5" routerLink="">Add more</a>
        </div>
    </div>
</div>

<!-- wishlist designwith item -->
<section class="py-5">
    <div *ngIf="allproducts.length!=0" class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let product of allproducts">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top p-4" style="height: 250px;" [src]='product.image' alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.title.slice(0,15)}}...</h5>
                            <!-- Product price-->
                            ${{product.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="d-flex justify-content-evenly">
                            <!-- delete link -->
                            <button (click)="removeitem(product.id)" class="btn btn-danger mt-auto "  ><i class="fa fa-solid fa-heart-circle-xmark"></i> </button>
                            <!-- add cart btn -->
                            <button (click)="addtocart(product)" class="btn btn-success" ><i class="fa fa-solid fa-cart-plus"></i> </button>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>