<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5 my-5" >
        <div class="row gx-4 gx-lg-5 align-items-center " >
            <div class="col-md-1"></div>
            <div class="col-md-5" ><img style="height: 300px;" class="card-img-top mb-5 mb-md-0 w-50" [src]="products.image" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">ID : {{products._id}}</div>
                <h1 class="display-5 fw-bolder">{{products.title}}</h1>
                <div class="fs-5 mb-5">
                    
                    <span class="fw-bolder text-danger">${{products.price}}</span>
                </div>
                <p class="lead">{{products.description}}</p>
                <div class="d-flex justify-content-between">
                    <!-- <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" /> -->
                    <!-- wishlist -->
                    <button (click)="addwishlist()" class="btn btn-outline-danger flex-shrink-0"  type="button">
                        <i class="fa fa-solid fa-heart me-2"></i>
                        Wishlist
                    </button>
                    <!-- add to cart -->
                    <button (click)="addtocart(products)" class="btn btn-outline-success flex-shrink-0" type="button">
                        <i class="fa fa-solid fa-cart-plus  me-2"></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
